<div class="container-fluid">
  <div class="row">


    <div id="gallery" class="col-md-9">
      <div class="gallery">
        <!-- Use the async pipe with the pets$ observable -->
        <div class="gallery-pet fader"
             *ngFor="let pet of (pets$ | async) ?? [] | nameFilter:searchTerm"
             (click)="selectPet(pet)"
             [class.active]="pet === selectedPet">
          <img class="profile-picture" [src]="'https://pettinder.herokuapp.com/'+ pet.image" alt="{{ pet.name }}">
          <div class="overlay">
            <div class="overlay-text">{{ pet.name }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3" >
      <div class="gallery-detail">
        <section id="petProfile" class="tiny-dialog fader" *ngIf="selectedPet">
          <h3>{{ selectedPet.name }}</h3>
          <p>{{ selectedPet.profileText }}</p>
        </section>
      </div>

      <!-- Search section -->
      <section class="tiny-dialog">
        <h3>Find your pet</h3>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name"
                 name="name"
                 class="form-control"
                 placeholder="Name"
                 [(ngModel)]="searchTerm">
        </div>
      </section>

      <!-- Add Pet Form -->
      <form [formGroup]="addPetForm" (ngSubmit)="onAddPet()" class="tiny-dialog add-pet-form">
        <h3>Add your pet</h3>
        <div class="form-group">
          <label for="petName">Name</label>
          <input type="text" id="petName" formControlName="name" class="form-control" placeholder="Pet's Name" required>
        </div>
        <div class="form-group">
          <label for="petKind">Kind</label>
          <input type="text" id="petKind" formControlName="kind" class="form-control" placeholder="Kind of Pet" required>
        </div>
        <div class="form-group">
          <label for="petImage">Picture</label>
          <input type="text" id="petImage" formControlName="image" class="form-control" placeholder="Image Filename">
        </div>
        <div class="form-group">
          <label for="petProfileText">Profile Text</label>
          <textarea id="petProfileText" formControlName="profileText" class="form-control" placeholder="Profile Text"></textarea>
        </div>
        <div class="form-group">
          <label for="petPopularity">Popularity</label>
          <input type="number" id="petPopularity" formControlName="popularity" class="form-control" placeholder="Popularity Score">
        </div>
        <button type="submit" class="btn btn-primary">Create Pet</button>
      </form>
    </div>

  </div>
</div>



